<footer>
    <div class="sections">
        <div class='sec'>
            <h5>Search</h5>
            <ul>
                <li>Search spaces</li>
                <li>Search by city</li>
                <li>Top rated spaces</li>
                <li>Coworking</li>
                <li>Mapshared office</li>
            </ul>
        </div>
        <div class='sec'>
            <h5>Reviews</h5>
            <ul>
                <li>Search spaces</li>
                <li>Search by city</li>
                <li>Top rated spaces</li>
                <li>Coworking</li>
                <li>Mapshared office</li>
            </ul>
        </div>
        <div class='sec'>
            <h5>Our publication</h5>
            <ul>
                <li>Search spaces</li>
                <li>Search by city</li>
                <li>Top rated spaces</li>
                <li>Coworking</li>
                <li>Mapshared office</li>
            </ul>
        </div>
        <div class='sec'>
            <h5>For members</h5>
            <ul>
                <li>Search spaces</li>
                <li>Search by city</li>
                <li>Top rated spaces</li>
                <li>Coworking</li>
                <li>Mapshared office</li>
            </ul>
        </div>
        <div class='sec'>
            <h5>Connect</h5>
            <ul>
                <li>Search spaces</li>
                <li>Search by city</li>
                <li>Top rated spaces</li>
                <li>Coworking</li>
                <li>Mapshared office</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="disclaimers">
        <p>@2020 Coworker</p>
        <p>Privacy policy | terms & conditions</p>
    </div>
</footer>

<!-- photos from cowork, social cut, proof technologies, ryan plomp on Unsplash -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>