<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coworker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <nav>
        <a href="/"><img  id='logo' src="images/logo.png" alt=""></a>
        <ul class='navlinks'>
            <li>
                <a class='active' href="/">Home</a>
            </li>
            <li>
                <a href="/who.html">Who can work</a>
            </li>
            <li>
                <a href="/location.html">Location</a>
            </li>
            <li>
                <a href="/pricing.html">Pricing</a>
            </li>
            <li>
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
        <a href="/joinus"><button id='joinus'>Join us</button></a>
    </nav>
