<%- include('./partials/header')%>

<div class="contactus">
    <h1>Contact CoWorker!</h1>
    <div class="photocontent">
        <img src="/images/photo10.jpg" alt="Working together on computer">
        <form action="" method="" class='contactusform'>
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <textarea name="message" id="name" placeholder="Your message" cols="30" rows="5"></textarea>
            <button>Send!</button>
        </form>
        <div class="accent"></div>
    </div>  
</div>

<%- include('./partials/footer')%>