<%- include('./partials/header')%>
<div class="howheader">
    <div class="lefthow">
        <h1>How does<br>CoWorker work?</h1>
        <p>Join the thousands of others making use of unique <br>works spaces in their city!</p>
        <button>Join now</button>
    </div>
    <div class="righthow">
        <img src="/images/photo11.jpg" alt="Working together as a group">
        <div class="howcolor"></div>
    </div>
</div>

<div class="roadmap">
    <div class="leftroadmap">
        <h1>Your roadmap to productivity <i class="fas fa-directions"></i></h1>
    </div>
    <div class="rightroadmap">
        <!-- remember flex wrap -->
        <div class="roadmappiece">
            <h1>1.</h1>
            <h3>Join us</h3>
            <p>Join the CoWorker community!</p>
            <button>Join</button>
        </div>
        <div class="roadmappiece">
            <h1>2.</h1>
            <h3>Choose a plan</h3>
            <p>Choose a plan to be added to your account!</p>
            <button>Pricing</button>
        </div>
        <div class="roadmappiece">
            <h1>3.</h1>
            <h3>Book a day & seat</h3>
            <p>Book your place for the specific location you are visiting!</p>
            <button>Book now!</button>
        </div>
        <div class="roadmappiece">
            <h1>4.</h1>
            <h3>Visit us</h3>
            <p>Visit the location on the day and time, sign in at the desk with your reservation number and you're ready to go!</p>
            <button>Locations</button>
        </div>
    </div>
</div>
<div class="divider"></div>
<%- include('./partials/footer')%>