<%- include('./partials/header')%>


    <div class="home">
        <div class="written">
            <h1>CoWorker is a movement to build a community <span>workplace</span></h1>
            <h3>Private Offices, Desks, Meeting & Conference Rooms</h3>
            <form action="/">
                <input type="text" placeholder="Search by Location...">
                <button type='submit'><i class="fas fa-search"></i></button>
            </form>
        </div>
        <img src="images/Photo5.png" alt="Group working together in an office">
    </div>

    <div class="lookaround">
        <div class="look">
            <h1>Take a look around</h1>
            <div class="arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <div class="photos">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
    </div>

    <div class="marketplace">
        <div class="marketplacewritten">
            <h1>The Largest Coworking<br>Marketplace 15,000+ Spaces</h1>
            <p>Deskpass offers flexibility. Choose your workspace based <br>on your schedule, the type of work you're doing.</p>
            <div class="select">
                <div class="section example">
                    <h4>How to find a space</h4>
                    <p>Choose from 500+ locations in 20 cities across the country. When you arrive, check in through the Coworking app.</p>
                </div>
                <div class="section">
                    <h4>Check in</h4>
                </div>
                <div class="section">
                    <h4>Book a meeting</h4>
                </div>
                <div class="section">
                    <h4>Get to work</h4>
                </div>
            </div>
        </div>
        <div class="color"></div>
        <img src="/images/photo4.jpg" alt="">
    </div>

    <div class="app">
        <div class="appwritten">
            <h1>Download our app on appstore and play store</h1>
            <p>Deskpass offers flexibility. Choose your workspace based on your schedule, the type of work you're doing</p>
            <div class="buttons">
                <a href="https://play.google.com/"><button><i class="fas fa-play"></i> Play Store</button></a>
                <a href="https://www.apple.com/ca/ios/app-store/"><button><i class="fab fa-apple"></i> App Store</button></a>
            </div>
        </div>
        <img src="/images/photo6.jpg" alt="Image of a phone with the app">
    </div>

    <div class="discover">
        <div class="left">
            <h1>Discover what others already know</h1>
            <img src="images/photo7.png" alt="">
        </div>
        <div class="right">
            <div class="review">
                <h4>"Well-recommended way to send custom forms and surveys!"</h4>
                <div class="author">
                    <div class="about">
                        <div id="image1"></div>
                        <div class="person">
                            <p><strong>Lorenzeo Perniciaro</strong></p>
                            <p>San Francisco, California</p>
                        </div>
                    </div>
                    <p><span><i class="fas fa-star"></i></span> 4.5</p>
                </div>
            </div>
            <div class="review">
                <h4>"Extremely responsive company meets my need and answer"</h4>
                <div class="author">
                    <div class="about">
                        <div id="image2"></div>
                        <div class="person">
                            <p><strong>Xhenya Pynysak</strong></p>
                            <p>New York City, New York</p>
                        </div>
                    </div>
                    <p><span><i class="fas fa-star"></i></span> 4.4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="signup">
        <h1>Never miss a coworking update</h1>
        <p>Subscribe to receieve exclusive offers, special member pricing,<br> and updates on shared office space near you.</p>
        <input type="email" placeholder="Email Address">
        <button type='submit'>Subscribe</button>
    </div>

<script>
    let rightArrow = document.querySelector('.fa-arrow-right');
    let img1 = document.getElementsByClassName('img')[0];
    let img2 = document.getElementsByClassName('img')[1];
    let img3 = document.getElementsByClassName('img')[2];
    let changed = false;

    rightArrow.addEventListener('click', function(){
        if(changed === false){
            img1.style.backgroundImage = "url('/images/photo13.jpg')";
            img2.style.backgroundImage = "url('/images/photo14.jpg')";
            img3.style.backgroundImage = "url('/images/photo15.jpg')";
            changed = true;
        } else{
            img1.style.backgroundImage = "url('/images/photo1.jpg')";
            img2.style.backgroundImage = "url('/images/photo2.jpg')";
            img3.style.backgroundImage = "url('/images/photo3.jpg')";
            changed = false;
        }
    });
</script>
<%- include('./partials/footer')%>