<%- include('./partials/header')%>

<div class="joinlogin">
    <div class="joinus">
        <h1>Join CoWorker!</h1>
            <form action="" method="" class='joinusform'>
                <input type="text" name="firstname" placeholder="firstname">
                <input type="text" name="lastname" placeholder="lastname">
                <input type="email" name="email" placeholder="email">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Join!</button>
            </form>
    </div>
    <div class="login">
        <h1>Login</h1>
        <form action="" method="" class='loginform'>
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Login!</button>
        </form>
    </div>
</div>


<%- include('./partials/footer')%>