<%- include('./partials/header')%>
<div class="priceheading">
    <h1>Best value for workspace sharing.</h1>
    <p>
        Choose the plan that's right for you and your schedule.<br> 
        Whether you are self employed, like to work outside the office occasionally,<br> 
        or just want to study for your exams, we've got you covered!
    </p>
    <button>Get started with free trial</button>
</div>


<div class="pricingblock">
    <div class="price">
        <h2>One time</h2>
        <p>Visit location once</p>
        <h1>$20<span>/visit</span></h1>
        <button>Purchase</button>
    </div>
    <div class="price">
        <h2>Basic</h2>
        <p>Visit up to 4 times a month</p>
        <h1>$80<span>/month</span></h1>
        <button>Purchase</button>
    </div>
    <div class="price">
        <h2>Loyal</h2>
        <p>Visit up to 12 times a month</p>
        <h1>$130<span>/month</span></h1>
        <button>Purchase</button>
    </div>
    <div class="price">
        <h2>Member</h2>
        <p>Visit unlimited amount a month</p>
        <h1>$250<span>/month</span></h1>
        <button>Purchase</button>
    </div>
</div>
<div class="infopricing">
    <div class="included">
        <h2>Whats included?</h2>
        <ul>
            <li>Access to any CoWorker location</li>
            <li>Leave for lunch? Come back without paying.</li>
            <li>Book your own a seat based on your needs</li>
            <li>Access to kitchen space</li>
        </ul>
    </div>
    <img src="/images/photo11.jpg" alt="Working alone on laptop">
</div>


<%- include('./partials/footer')%>