@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

nav #logo {
  width: 50px;
}

nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navlinks li {
  list-style: none;
  margin: 20px;
}

nav .navlinks li a {
  color: rgba(0, 0, 0, 0.5);
}

nav .navlinks li .active {
  color: black;
}

nav #joinus {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;
  outline: none;
  border: lightgray 2px solid;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0px 100px;
  height: 75vh;
  overflow: hidden;
}

.home .written {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 50px;
}

.home .written h1 {
  font-size: 43px;
}

.home .written h1 span {
  color: orange;
}

.home .written h3 {
  margin: 12px 0;
  font-size: 18px;
  opacity: 0.8;
}

.home .written form input {
  width: 70%;
  padding: 10px;
  border: none;
  -webkit-box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.281);
          box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.281);
  outline: none;
}

.home .written form button {
  color: white;
  position: relative;
  right: 5px;
  top: 2px;
  font-size: 20px;
  background-color: orange;
  padding: 6px 10px;
  border: none;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 50%;
  position: relative;
  top: 60px;
  left: 120px;
  width: 00px;
}

.lookaround {
  background-color: black;
  color: white;
  padding: 40px 100px 80px;
}

.lookaround .look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookaround .look p {
  font-size: 30px;
}

.lookaround .look .arrow {
  font-size: 40px;
}

.lookaround .look .arrow .fas {
  margin-left: 30px;
  color: white;
}

.lookaround .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.lookaround .photos .img {
  background-color: pink;
  height: 450px;
  width: 380px;
  border-radius: 15px;
}

.lookaround .photos .img:nth-child(1) {
  background-image: url("/images/photo1.jpg");
  background-position: center;
  background-size: cover;
}

.lookaround .photos .img:nth-child(2) {
  background-image: url("/images/photo2.jpg");
  background-position: center;
  background-size: cover;
}

.lookaround .photos .img:nth-child(3) {
  background-image: url("/images/photo3.jpg");
  background-position: center;
  background-size: cover;
}

.marketplace {
  padding: 60px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.marketplace .marketplacewritten h1 {
  padding-bottom: 15px;
}

.marketplace .marketplacewritten h1 + p {
  padding-bottom: 50px;
}

.marketplace .marketplacewritten .select {
  padding-right: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-left: rgba(255, 166, 0, 0.3) 4px solid;
}

.marketplace .marketplacewritten .example {
  border-left: orange 4px solid;
  padding: 30px;
  position: relative;
  right: 4px;
}

.marketplace .marketplacewritten .example h4 {
  padding: 0;
}

.marketplace .marketplacewritten h4 {
  padding: 30px;
}

.marketplace .color {
  background: rgba(255, 166, 0, 0.425);
  position: absolute;
  width: 300px;
  height: 400px;
  left: 700px;
  border-radius: 60px;
}

.marketplace img {
  border-radius: 20px;
  width: 400px;
  z-index: 2;
}

.app {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
}

.app .appwritten {
  padding-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app .appwritten h1 {
  margin-bottom: 25px;
}

.app .appwritten p {
  margin-bottom: 70px;
  padding-right: 200px;
  font-size: 18px;
  opacity: 0.7;
}

.app .appwritten button {
  color: white;
  background-color: orange;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 20px;
}

.app img {
  width: 400px;
  border-radius: 20px;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover .left {
  margin-right: 80px;
}

.discover .left h1 {
  margin-bottom: 20px;
}

.discover .left img {
  width: 270px;
  border-radius: 150px;
  text-align: center;
  margin: 20px 70px;
}

.discover .right {
  margin-left: 100px;
  border-right: orange 4px solid;
  padding-right: 20px;
}

.discover .right .review {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 15px;
}

.discover .right .review h4 {
  font-size: 30px;
  margin-bottom: 30px;
}

.discover .right .review .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover .right .review .author .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover .right .review .author .about #image1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/photo8.jpg");
}

.discover .right .review .author .about #image2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/photo9.jpg");
}

.discover .right .review .author .about .person {
  margin-left: 10px;
  margin-top: 10px;
  line-height: 0.5;
}

.discover .right .review span {
  color: orange;
}

.signup {
  background-color: black;
  text-align: center;
  color: white;
  padding: 100px;
}

.signup input {
  border-radius: 30px;
  padding: 10px 20px;
  width: 30%;
  outline: none;
}

.signup button {
  position: relative;
  background-color: orange;
  color: white;
  border: none;
  outline: none;
  right: 0px;
  border-radius: 25px;
  padding: 9px 10px;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 100px;
  font-size: 10px;
}

footer .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sections h5 {
  margin-bottom: 20px;
}

footer .sections li {
  list-style: none;
  opacity: 0.5;
}

footer .disclaimers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.joinus {
  height: 80vh;
}

.joinus h1 {
  margin: 20px 0;
}

.joinus h1, .joinus .joinusform {
  text-align: center;
}

.joinus .joinusform {
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: rgba(255, 166, 0, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.joinus .joinusform input {
  border: none;
  outline: none;
  text-align: center;
  margin-bottom: 20px;
  width: 60%;
  padding: 8px 20px;
  border-radius: 20px;
}

.joinus .joinusform button {
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 8px 20px;
  color: orange;
  background-color: white;
}
/*# sourceMappingURL=styles.css.map */