@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

nav #logo {
  width: 50px;
}

nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navlinks li {
  list-style: none;
  margin: 20px;
}

nav .navlinks li a {
  color: rgba(0, 0, 0, 0.5);
}

nav .navlinks li a:hover {
  text-decoration: none;
  color: orange;
}

nav .navlinks li .active {
  color: black;
}

nav #joinus {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;
  outline: none;
  border: lightgray 2px solid;
}

nav #joinus:hover {
  border: orange 2px solid;
  color: orange;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0px 100px;
  height: 75vh;
  overflow: hidden;
}

.home .written {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 50px;
}

.home .written h1 {
  font-size: 43px;
}

.home .written h1 span {
  color: orange;
}

.home .written h3 {
  margin: 12px 0;
  font-size: 18px;
  opacity: 0.8;
}

.home .written form input {
  width: 70%;
  padding: 10px;
  -webkit-box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.281);
          box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.281);
  border: none;
  outline: none;
}

.home .written form button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
  position: relative;
  right: 5px;
  top: 2px;
  font-size: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 50%;
  position: relative;
  top: 60px;
  left: 120px;
  width: 00px;
}

.lookaround {
  background-color: black;
  color: white;
  padding: 40px 100px 80px;
}

.lookaround .look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lookaround .look p {
  font-size: 30px;
}

.lookaround .look .arrow {
  font-size: 40px;
}

.lookaround .look .arrow .fas {
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.lookaround .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.lookaround .photos .img {
  background-color: pink;
  height: 450px;
  width: 380px;
  border-radius: 15px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.lookaround .photos .img:nth-child(1) {
  background-image: url("/images/photo1.jpg");
  background-position: center;
  background-size: cover;
}

.lookaround .photos .img:nth-child(2) {
  background-image: url("/images/photo2.jpg");
  background-position: center;
  background-size: cover;
}

.lookaround .photos .img:nth-child(3) {
  background-image: url("/images/photo3.jpg");
  background-position: center;
  background-size: cover;
}

.marketplace {
  padding: 60px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.marketplace .marketplacewritten h1 {
  padding-bottom: 15px;
}

.marketplace .marketplacewritten h1 + p {
  padding-bottom: 50px;
}

.marketplace .marketplacewritten .select {
  padding-right: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-left: rgba(255, 166, 0, 0.3) 4px solid;
}

.marketplace .marketplacewritten .example {
  border-left: orange 4px solid;
  padding: 30px;
  position: relative;
  right: 4px;
}

.marketplace .marketplacewritten .example h4 {
  padding: 0;
}

.marketplace .marketplacewritten h4 {
  padding: 30px;
}

.marketplace .color {
  background: rgba(255, 166, 0, 0.425);
  position: absolute;
  width: 300px;
  height: 400px;
  left: 700px;
  border-radius: 60px;
}

.marketplace img {
  border-radius: 20px;
  width: 400px;
  z-index: 2;
}

.app {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
}

.app .appwritten {
  padding-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.app .appwritten h1 {
  margin-bottom: 25px;
}

.app .appwritten p {
  margin-bottom: 70px;
  padding-right: 200px;
  font-size: 18px;
  opacity: 0.7;
}

.app .appwritten .buttons {
  margin-right: auto;
}

.app .appwritten .buttons button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
  margin-right: 10px;
  font-size: 20px;
}

.app img {
  width: 400px;
  border-radius: 20px;
}

.discover {
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover .left {
  margin-right: 80px;
}

.discover .left h1 {
  margin-bottom: 20px;
}

.discover .left img {
  width: 270px;
  border-radius: 150px;
  text-align: center;
  margin: 20px 70px;
}

.discover .right {
  margin-left: 100px;
  border-right: orange 4px solid;
  padding-right: 20px;
}

.discover .right .review {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 15px;
}

.discover .right .review h4 {
  font-size: 30px;
  margin-bottom: 30px;
}

.discover .right .review .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover .right .review .author .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover .right .review .author .about #image1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/photo8.jpg");
}

.discover .right .review .author .about #image2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/photo9.jpg");
}

.discover .right .review .author .about .person {
  margin-left: 10px;
  margin-top: 10px;
  line-height: 0.5;
}

.discover .right .review span {
  color: orange;
}

.signup {
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px;
}

.signup input {
  border-radius: 30px;
  padding: 10px 20px;
  width: 30%;
  border: none;
  outline: none;
}

.signup button {
  position: relative;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
  right: 0px;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 100px;
  font-size: 10px;
}

footer .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sections h5 {
  margin-bottom: 20px;
}

footer .sections li {
  list-style: none;
  opacity: 0.5;
}

footer .disclaimers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.howheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding: 50px 100px;
}

.howheader h1 {
  font-size: 44px;
}

.howheader p {
  opacity: 0.8;
  font-size: 1.1em;
}

.howheader button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.howheader .lefthow {
  text-align: left;
  padding: 40px;
  padding-bottom: 100px;
}

.howheader .righthow img {
  width: 600px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

.howheader .righthow .howcolor {
  position: absolute;
  z-index: 0;
  background-color: rgba(255, 166, 0, 0.466);
  width: 600px;
  height: 300px;
  left: 46%;
  border-radius: 20px;
  top: 17%;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  padding: 50px;
}

.roadmap .leftroadmap {
  margin: 50px;
  text-align: center;
}

.roadmap .leftroadmap i {
  color: orange;
}

.roadmap .rightroadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 50px;
}

.roadmap .rightroadmap button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.roadmap .rightroadmap .roadmappiece {
  padding: 10px;
  width: 400px;
}

.roadmap .rightroadmap .roadmappiece h3 {
  margin-bottom: 20px;
}

.divider {
  background-color: white;
  height: 20px;
  width: 100%;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.locations h1 {
  font-size: 44px;
}

.locations p {
  opacity: 0.8;
  font-size: 1.1em;
}

.locations button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.locations .locationssides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px 100px 50px;
}

.locations .locationssides .leftlocations {
  width: 250px;
}

.locations .locationssides .leftlocations h1 {
  margin-bottom: 20px;
}

.locations .locationssides .leftlocations .city {
  border-top: 2px rgba(0, 0, 0, 0.295) solid;
  padding-top: 10px;
}

.locations .locationssides .leftlocations li {
  margin-left: 30px;
}

.locations .locationssides .leftlocations .marker {
  position: absolute;
  opacity: 0.19;
  z-index: -1;
  font-size: 400px;
  top: 50px;
  color: grey;
}

.locations .locationssides .rightlocations {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.locations .locationssides .rightlocations #map {
  width: 900px;
  height: 600px;
}

.priceheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
}

.priceheading h1 {
  font-size: 44px;
}

.priceheading p {
  opacity: 0.8;
  font-size: 1.1em;
}

.priceheading button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.pricingblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 5px 20px rgba(128, 128, 128, 0.418);
          box-shadow: 1px 5px 20px rgba(128, 128, 128, 0.418);
  margin: 20px 0px;
}

.pricingblock .price {
  text-align: center;
  padding: 15px 40px 15px 70px;
  border-left: 1px rgba(128, 128, 128, 0.205) solid;
}

.pricingblock .price h2 {
  color: orange;
}

.pricingblock .price span {
  font-size: 17px;
}

.pricingblock .price button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.pricingblock .price:nth-child(1) {
  padding: 15px 70px 15px 80px;
}

.infopricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 300px;
}

.infopricing img {
  width: 400px;
  border-radius: 20px;
}

.contactus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  height: 70vh;
}

.contactus h1 {
  font-size: 44px;
}

.contactus p {
  opacity: 0.8;
  font-size: 1.1em;
}

.contactus button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}

.contactus .photocontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 40px 0 60px;
}

.contactus .photocontent img {
  width: 500px;
  border-radius: 20px;
  text-align: left;
  z-index: 2;
}

.contactus .photocontent .contactusform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 2;
}

.contactus .photocontent .contactusform input, .contactus .photocontent .contactusform textarea {
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 60%;
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px black solid;
}

.contactus .photocontent .contactusform button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
  width: 60%;
}

.contactus .photocontent .accent {
  background-color: rgba(255, 166, 0, 0.637);
  width: 630px;
  height: 280px;
  position: absolute;
  left: 75px;
  z-index: 0;
  border-radius: 20px;
}

.joinlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinlogin .joinus {
  background-color: #ffa600;
  width: 50%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinlogin .joinus h1 {
  margin: 20px 0;
  color: white;
}

.joinlogin .joinus .joinusform {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinlogin .joinus .joinusform input {
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 60%;
  padding: 8px 20px;
  border-radius: 20px;
}

.joinlogin .joinus .joinusform button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
  color: orange;
  background-color: white;
}

.joinlogin .login {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 100px 20px 50px;
}

.joinlogin .login h1 {
  margin: 20px 0;
  color: orange;
}

.joinlogin .login form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinlogin .login form input {
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 60%;
  padding: 8px 20px;
  border-radius: 20px;
  border: solid black 2px;
  width: 90%;
}

.joinlogin .login form button {
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: orange;
  padding: 8px 20px;
  margin: 10px 0;
}
/*# sourceMappingURL=styles.css.map */