@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@mixin reviewPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Poppins', sans-serif;
}

//NAVIGATION
nav{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;

    #logo{
        width: 50px;
    }

    .navlinks{
        display: flex;
        justify-content: space-between;

        li{
            list-style: none;
            margin: 20px;

            a{
                color: rgba(0, 0, 0, 0.5);
            }

            .active{
                color: black;
            }
        }
    }

    #joinus{
        border-radius: 25px;
        padding: 10px 20px;
        background-color: white;
        border: rgb(211, 211, 211) 2px solid;
    }
}


//PART 1
.home{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 100px;
    height:75vh;
    overflow: hidden;

    .written{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-bottom: 50px;
        // padding-right: 100px;

        h1{
            font-size: 43px;

            span{
                color: orange
            }
        }

        h3{
            margin: 12px 0;
            font-size: 18px;
            opacity: 0.8;
        }


        form{

            input{
                width: 70%;
                padding: 10px;
                border: none;
                box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.281) ;
                outline: none;
            }

            button{
                color: white;
                position: relative;
                right: 5px;
                top: 2px;
                font-size: 20px;
                background-color: orange;
                padding: 6px 10px;
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    img{
        flex: 2;
        border-radius: 50%;
        position: relative;
        top: 60px;
        left: 120px;
        width: 00px;
    }

}

//PART 2
.lookaround{
    background-color: black;
    color: white;
    padding: 40px 100px 80px;


    .look{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 30px;
        }

        .arrow{
            font-size: 40px;

            .fas{
                margin-left: 30px;
                color:white;
            }
        }
    }

    .photos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        .img{
            background-color: pink;
            height: 450px;
            width: 380px;
            border-radius: 15px;
        }
        .img:nth-child(1){
            background-image: url('/images/photo1.jpg');
            background-position: center;
            background-size: cover;
        }
        .img:nth-child(2){
            background-image: url('/images/photo2.jpg');
            background-position: center;
            background-size: cover;
        }
        .img:nth-child(3){
            background-image: url('/images/photo3.jpg');
            background-position: center;
            background-size: cover;
        }
    }
}


//PART 3
.marketplace{
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .marketplacewritten{

        h1{
            padding-bottom: 15px;
        }
        h1 + p{
            padding-bottom: 50px;
        }

        .select{
            padding-right: 400px;
            display: flex;
            flex-direction: column;
            align-items: left;
            border-left: rgba(255, 166, 0, 0.3) 4px solid;
        }

        .example{
            border-left: orange 4px solid;
            padding: 30px;
            position: relative;
            right: 4px;

            h4{
                padding:0;
            }
        }

        
        h4{
            padding: 30px;
        }
    }

    .color{
        background: rgba(255, 166, 0, 0.425);
        position: absolute;
        width: 300px;
        height: 400px;
        left: 700px;
        border-radius: 60px;
    }

    img{
        border-radius: 20px;
        width: 400px;
        z-index: 2;
    }
}


//PART 4
.app{
    background-color: black;
    color:white;
    display: flex;
    padding: 50px 100px;

    .appwritten{
        padding-right: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        h1{
            margin-bottom: 25px;
        }

        p{
            margin-bottom: 70px;
            padding-right: 200px;
            font-size: 18px;
            opacity: 0.7;
        }

        button{
            color: white;
            background-color: orange;
            border: none;
            padding: 8px 20px;
            border-radius: 25px;
            margin-right: 10px;
            font-size: 20px;
        }
    }

    img{
        width: 400px;
        border-radius: 20px;
    }
}



.discover{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;

    .left{
        margin-right: 80px;
        
        h1{
            margin-bottom: 20px;
        }

        img{
            width: 270px;
            border-radius: 150px;
            text-align: center;
            margin: 20px 70px;
        }
    }

    .right{
        margin-left: 100px;
        border-right: orange 4px solid;
        padding-right: 20px;
        .review{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.10);
            margin-bottom: 20px;
            padding: 20px 25px;
            border-radius: 15px;
    
            h4{
                font-size: 30px;
                margin-bottom: 30px;
            }
            .author{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .about{
                    display: flex;

                    #image1{
                        @include reviewPhoto;
                        background-image: url('/images/photo8.jpg');
                    }
                    #image2{
                        @include reviewPhoto;
                        background-image: url('/images/photo9.jpg');
                    }

                    .person{
                        margin-left: 10px;
                        margin-top: 10px;
                        line-height: 0.5;
                    }
                }
            }
            span{
                color: orange;
            }
        }
    }
}


.signup{
    background-color: black;
    text-align: center;
    color:white;
    padding: 100px;

    input{
        border-radius: 30px;
        padding: 10px 20px;
        width: 30%;
    }
    button{
        position: absolute;
        background-color: orange;
        color: white;
        border: none;
        right: 540px;
        top: 3477px;
        border-radius: 25px;
        padding: 5px 10px;

    }
}

footer{
    background-color: black;
    color: white;
    padding: 30px 100px;

    .sections{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5{
            margin-bottom: 20px;
        }

        li{
            list-style: none;
            opacity: 0.5;
        }
    }


    .disclaimers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;
    }
}


