*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    padding: 10px 50px;

    #joinus{
        border-radius: 25px;
        padding: 10px 20px;
        background-color: white;
        border: rgb(211, 211, 211) 2px solid;
    }
}

img{
    width:200px;
}